main{
	color: #ECDDBD;
	text-align: center;
	background: black;
	font-size: 138%;
	height: 400px;
	width: 550px;
	margin:125px;
	position:relative;
 	position:absolute; 
 	top: 90px; 
 	right: 0px; 
}
button{
	color: #ECDDBD;
	background: black;
	text-align: center;
	font-size: 125%;
	height: 50px;
	width: 140px;
	position:relative;
 	position:absolute; 
 	top: 550px; 
 	right: 310px; 
 	bottom:0;  
 	margin:0;
	border-radius: 6px;
}