main{
	color: #ECDDBD;
	text-align: center;
	background: black;
	font-size: 138%;
	height: 300px;
	width: 500px;
	margin:125px;
	position:relative;
 	position:absolute; 
 	top: 50px; 
 	right: -60px; 
}
button{
	color: #ECDDBD;
	background: black;
	text-align: center;
	font-size: 125%;
	height: 50px;
	width: 140px;
	position:relative;
 	position:absolute; 
 	top: 550px; 
 	right: 150px; 
 	bottom:0;  
 	margin:0;
	border-radius: 6px;
}