main{
	color: #ECDDBD;
	text-align: center;
	background: black;
	font-size: 138%;
	height: 200px;
	width: 500px;
	margin:125px;
	position:relative;
 	position:absolute; 
 	top: 80px; 
 	right: 100px; 
}
#button1{
	color: #ECDDBD;
	background: black;
	text-align: center;
	font-size: 125%;
	height: 106px;
	width: 230px;
	position:relative;
 	position:absolute; 
 	top: 533px; 
 	right: 500px; 
 	bottom:0;  
 	margin:0;
 	border-radius: 6px;
	 
}
#button2{
	color: #ECDDBD;
	background: black;
	text-align: center;
	font-size: 125%;
	height: 70px;
	width: 230px;
	position:relative;
 	position:absolute; 
 	top: 550px; 
 	right: 200px; 
 	bottom:0;  
 	margin:0;
	border-radius: 6px; 
}